/* Complete CSS reset - wipe default stylesheet */
html, body, div, span,
applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dd, dl, dt, li, ol, ul,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	line-height: 1;
	font-family: inherit;
	text-align: left;
	vertical-align: baseline;
}
a img, :link img, :visited img {
	border: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
ol, ul {
	list-style: none;
}
q:before, q:after,
blockquote:before, blockquote:after {
	content: "";
}

/*** BBS styles **/
body {
  background: black;
  color: #eee;
  /*-webkit-transform: rotate(1deg);
  -moz-transform: rotate(1deg);
  transform: rotate(1deg);*/
}

a {
  color: #00ee00;
}

a:visited {
  color: #00cc00;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: monospace;
}

* {
    background-color: black;
}

a {
    position: relative;
    font-family: monospace;
    background-color: black;
    text-decoration: none;
    color: green;
}

h1 {
  font-size: 1.2em;
  margin-bottom: 1em;
}

#faux-terminal {
  pointer-events: none;
}

#faux-terminal:before {
  content: '';
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #000;
  background: linear-gradient(#fff 50%, #000 50%);
  background-size: 100% 4px;
  background-repeat: repeat-y;
  opacity: .14;
  box-shadow: inset 0px 0px 10px 10px rgba(0, 0, 0, .8);
  border-radius: 20px;
  z-index: 10;
  -webkit-animation: pulse 5s linear infinite;
  -moz-animation: pulse 5s linear infinite;
  -ms-animation: pulse 5s linear infinite;
  animation: pulse 5s linear infinite;
}

@keyframes pulse {
  0%   {transform: scale(1.001);  opacity: .14; }
  8%   {transform: scale(1.000);  opacity: .13; }
  15%  {transform: scale(1.004);  opacity: .14; }
  30%  {transform: scale(1.002);  opacity: .11; }
  100% {transform: scale(1.000);  opacity: .14; }
}

#faux-terminal:after {
  z-index : 4011;
  background-color : $rudy-accent-color;
  background: radial-gradient(ellipse at center, rgba(0,0,0,1) 0%,rgba(0,0,0,0.62) 45%,rgba(0,9,4,0.6) 47%,$rudy-accent-color 100%);
  box-shadow : inset 0px 0px 4px 4px rgba(100, 100, 100, .5);
  opacity : .1;
}

#layer {
    pointer-events: none;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: -10px;
    right: -10px;
    padding: 40px;
    overflow: hidden;
    z-index: 1;
    border-radius: 20px;
    box-shadow: inset 0px 0px 5px 5px rgba(255, 255, 255, .1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,255,119,0.45) 0%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,255,119,0.45)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,255,119,0.45) 0%,rgba(255,255,255,0) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(0,255,119,0.45) 0%,rgba(255,255,255,0) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(0,255,119,0.45) 0%,rgba(255,255,255,0) 100%);
    background: radial-gradient(ellipse at center, rgba(0,255,119,0.45) 0%,rgba(255,255,255,0) 100%);
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: perspective(200px) rotateX(.5deg) skewX(2deg) scale(1.03);
    -moz-transform-origin: 50% 50%;
    -moz-transform: perspective(200px) rotateX(.5deg) skewX(2deg) scale(1.03);
    transform-origin: 50% 50%;
    transform: perspective(200px) rotateX(.5deg) skewX(2deg) scale(1.03);
    -webkit-animation: glitch 1s linear infinite;
    -moz-animation: glitch 1s linear infinite;
    -ms-animation: glitch 1s linear infinite;
    animation: glitch 1s linear infinite;
    opacity: .9;
}

.layer:after {
  background: radial-gradient(ellipse at center, rgba(0,0,0,0.5) 0%,rgba(64,64,64,0) 100%);
  opacity: .1;
}

@keyframes glitch {
  0%   {transform: scale(1, 1.002); }
  50%   {transform: scale(1, 1.0001); }
  100% {transform: scale(1.001, 1); }
}

.overlay {
  z-index: 4100;
  pointer-events: none;
}

.overlay:before {
  content : '';
  position : absolute;
  top : 0px;
  width : 100%;
  height : 5px;
  background : #fff;
  background: linear-gradient(to bottom, rgba(255,0,0,0) 0%,rgba(255,250,250,1) 50%,rgba(255,255,255,0.98) 51%,rgba(255,0,0,0) 100%); /* W3C */
  opacity : .1;
  animation: vline 1.25s linear infinite;
}

.overlay:after {
  box-shadow: 0 2px 6px rgba(25,25,25,0.2),
              inset 0 1px rgba(50,50,50,0.1),
              inset 0 3px rgba(50,50,50,0.05),
              inset 0 3px 8px rgba(64,64,64,0.05),
              inset 0 -5px 10px rgba(25,25,25,0.1);
}

@keyframes vline {
  0%   { top: 0px;}
  100% { top: 100%;}
}

.workspace {
  overflow-y: scroll;
  margin: 2em;
}

.render-target {
  margin-top: 1em;
}
